<div id="earlier-release-accordion">
    <h2 class="ons-u-fs-m">
        {{- localise "EarlierReleases" .Language 1 -}}
    </h2>
    <div class="tiles__item tiles__item--nav-type flush-col print--hide">
        <div class="tiles__content tiles__content--nav">
            <p>
                {{- localise "NationalArchives" .Language 1 | safeHTML -}}
            </p>
            <p>
                {{- localise "HistoricalDataNote" .Language 1 | safeHTML -}}
            </p>
        </div>
    </div>
</div>
