{{ $lang := .Language }}

<div id="accordion" class="ons-accordion">
    <form id="filterForm" method="get" class="js-auto-submit__form">
            <details class="ons-collapsible ons-js-collapsible ons-collapsible--accordion" data-group="accordion" data-btn-close="Hide this" data-open="true">
                <summary class="ons-collapsible__heading ons-js-collapsible-heading">
                    <h2 class="ons-collapsible__title">
                        <legend class="block">
                            Need an earlier release?
                        </legend>
                    </h2>
                    <span class="ons-collapsible__icon">
                        {{ template "icons/chevron-right" }}
                    </span>
                </summary>
                <fieldset class="ons-collapsible__content ons-js-details-content ons-u-mb-s">
                    <legend class="ons-u-vh">{{ localise "SelectContentType" $lang 1 }}</legend>
                        <div class="tiles__item tiles__item--nav-type flush-col hide--sm print--hide">
                            <div class="tiles__content tiles__content--nav">
                                <p>
                                    We moved them to <a href="http://webarchive.nationalarchives.gov.uk/20160105160709/http://www.ons.gov.uk/ons/index.html">The National Archives</a> website, to keep this website as responsive as possible.
                                </p>
                                <p>
                                    <strong>Please note: </strong>all historical data is still on this website.
                                </p>
                            </div>
                        </div>
                </fieldset>
            </details>
    </form>
</div>