{{ $lang := .Language }}

<h2>
    {{ $numberResults := len .Data.Response.Items}}
    <span class="search__summary__count">{{ .Data.Response.Count}} </span>
    {{ localise .Data.TermLocalKey $lang $numberResults }}
</h2>