{{ $enabledFilters := .Data.EnabledFilters }}
{{ $dateFilterEnabled := .Data.DateFilterEnabled }}
{{ $topicFilterEnabled := .Data.TopicFilterEnabled }}
{{ $contentTypeFilterEnabled := .Data.ContentTypeFilterEnabled }}
{{ $lang := $.Language }}

<div
    id="accordion"
    class="ons-accordion"
>
    {{ template "partials/data-filters/keywords-filter" . }}

    {{ if $topicFilterEnabled }}
        {{ template "partials/data-filters/topic-filter" . }}
    {{ end }}
    {{ if $contentTypeFilterEnabled }}
        {{ template "partials/data-filters/content-type-filter" . }}
    {{ end }}
    {{ if $dateFilterEnabled }}
        {{ template "partials/data-filters/date-filter" . }}
    {{ end }}
</div>
<div class="search__filter__mobile-filter-toggle margin-bottom--8 hide">
    <button
        id="show-results"
        type="button"
        class="ons-btn"
        aria-controls="search-filter"
    >
        <span class="ons-btn__inner">{{ localise "ShowResults" $lang 4}}</span>
    </button>
</div>
