{{ $filters := .Data.Filters }}
{{ $response := .Data.Response }}
{{ $query := .Data.Query }}
{{ $sort := .Data.Sort.Query }}
{{ $lang := .Language }}
<form id="filterForm" method="get" class="js-auto-submit__form" action="/search">
    <input type="hidden" name="q" value="{{ $query }}"/>
    <input type="hidden" name="sort" value="{{$sort}}"/>
    <fieldset class="ons-fieldset">
        <script>window.localStorage.collapsibleContentType = true</script>
        <div id="collapsibleContentType" class="ons-collapsible ons-js-collapsible" data-btn-close="Hide this">
        <div class="ons-collapsible__heading ons-js-collapsible-heading">
            <div class="ons-collapsible__controls">
            <h2 class="ons-collapsible__title">
                <legend class="ons-fieldset__legend">
                    Content type
                </legend>
            </h2>
            <span class="ons-collapsible__icon">
                 {{ template "icons/chevron-right" }}
            </span>
            </div>
        </div>
        <div id="collapsible-content" class="ons-collapsible__content ons-js-collapsible-content">
            <a href="/search{{ if .Data.Query }}?q={{ .Data.Query}}{{end}}" id="clear-search" class="float-right font-size--18">{{ localise "ClearAll" $lang 1 }}</a>
            <p class="ons-checkboxes__label">Show only:</p>
            {{ range $index, $topFilter := $filters}}
                {{if ne $topFilter.NumberOfResults 0}}
                    <div class="ons-checkboxes__items">
                        <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
                            <span class="ons-checkbox ons-checkbox--no-border category-filter">
                                <input type="checkbox" id="group-{{ $index }}"
                                    class="ons-checkbox__input ons-js-checkbox"
                                    value="{{ print $topFilter.FilterKey }}" categoryChildren="{{ print $topFilter.FilterKey }}" aria-controls="group-{{ $index }}-other-wrap"
                                    aria-haspopup="true"
                                    {{if $topFilter.IsChecked }}
                                        checked
                                    {{end}}
                                >
                                <label class="ons-checkbox__label" for="group-{{ $index }}" id="group-{{ $index }}-label">
                                    {{ localise $topFilter.LocaliseKeyName $lang 4 }} ({{ $topFilter.NumberOfResults }})
                                </label>
                                <span class="ons-checkbox__other" id="group-{{ $index }}-other-wrap">
                                    <fieldset class="ons-fieldset ons-js-other-fieldset">
                                        {{range $index, $childFilter := $topFilter.Types}}
                                            {{if ne $childFilter.NumberOfResults 0}}
                                                {{$id := index $childFilter.FilterKey 0}}
                                                <div class="ons-checkboxes__items">
                                                    <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
                                                        <span class="ons-checkbox ons-checkbox--no-border child-filter">
                                                            <input id="{{ $id }}"
                                                                class="ons-checkbox__input ons-js-checkbox"
                                                                type="checkbox" name="filter"
                                                                {{ if $childFilter.IsChecked }}checked{{end}}
                                                                value="{{ $id }}"
                                                            />
                                                            <label class="ons-checkbox__label" for="{{ $id }}"
                                                                id="{{ $id }}-label">
                                                                {{ localise $childFilter.LocaliseKeyName $lang 4 }} ({{ $childFilter.NumberOfResults }})
                                                            </label>
                                                        </span>
                                                    </span>
                                                </div>
                                            {{ end }}
                                        {{ end }}
                                    </fieldset>
                                </span>
                            </span>
                        </span>
                    </div>
                {{ end }}
            {{ end }}
        </div>
        </div>
    </fieldset>
    <noscript>
        <button type="submit"
                class="btn btn--primary btn--thick margin-top-sm--2 margin-top-md--2 js-submit-button">Filter
        </button>
    </noscript>
</form>
<div class="search__filter__content__archive-info">
    <h3>Need an earlier release?</h3>
    <p>
        We moved them to <a
                href="http://webarchive.nationalarchives.gov.uk/20160105160709/http://www.ons.gov.uk/ons/index.html">The
            National Archives</a> website, to keep this website as responsive as possible.
    </p>
    <p>
        <strong>Please note: </strong>all historical data is still on this website.
    </p>
</div>
<div class="search__filter__mobile-filter-toggle hide">
    <button type="button" class="ons-btn" aria-controls="search-filter">
        <span class="ons-btn__inner">Show results</span>
    </button>
</div>