{{ $filters := .Data.Filters }}
{{ $topicFilters := .Data.TopicFilters }}
{{ $response := .Data.Response }}
{{ $query := .Data.Query }}
{{ $sort := .Data.Sort.Query }}
{{ $lang := .Language }}

<form id="topicsFilterForm" method="get" class="js-auto-submit__form">
    <input type="hidden" name="q" value="{{ $query }}"/>
    <input type="hidden" name="sort" value="{{$sort}}"/>
    <fieldset class="ons-fieldset">
        {{ range $index, $topicFilter := $topicFilters }}
            <div class="ons-checkboxes__items">
                <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
                    <span class="ons-checkbox ons-checkbox--no-border topic-filter">
                        <input type="checkbox" id="topic-group-{{ $index }}"
                            class="ons-checkbox__input ons-js-checkbox"
                            name="topics"
                            value="{{ print $topicFilter.Query }}" aria-controls="topic-group-{{ $index }}-other-wrap"
                            data-gtm-label="{{ $topicFilter.LocaliseKeyName }}"
                            {{ if $topicFilter.IsChecked }}
                                checked
                            {{ end }}
                            {{ if eq $topicFilter.DistinctItemsCount 0 }} disabled aria-disabled="true" {{ end }}
                        >
                        <label class="ons-checkbox__label" for="topic-group-{{ $index }}" id="topic-group-{{ $index }}-label">
                            {{ localise $topicFilter.LocaliseKeyName $lang 4 }} ({{ $topicFilter.DistinctItemsCount }})
                        </label>
                        <span class="ons-checkbox__other" id="topic-group-{{ $index }}-other-wrap">
                            <fieldset class="ons-fieldset ons-js-other-fieldset">
                                {{ range $index, $childFilter := $topicFilter.Types }}
                                    {{ $id := $childFilter.Query }}
                                    <div class="ons-checkboxes__items">
                                        <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
                                            <span class="ons-checkbox ons-checkbox--no-border child-filter">
                                                <input id="{{ $id }}"
                                                    class="ons-checkbox__input ons-js-checkbox"
                                                    type="checkbox" name="topics"
                                                    {{ if $childFilter.IsChecked }}checked{{ end }}
                                                    data-gtm-label="{{ $childFilter.LocaliseKeyName }}"
                                                    value="{{ $id }}"
                                                    {{ if eq $childFilter.NumberOfResults 0 }} disabled aria-disabled="true" {{ end }}
                                                />
                                                <label class="ons-checkbox__label" for="{{ $id }}"
                                                    id="{{ $id }}-label">
                                                    {{ $childFilter.LocaliseKeyName }} ({{ $childFilter.NumberOfResults }})
                                                </label>
                                            </span>
                                        </span>
                                    </div>
                                {{ end }}
                            </fieldset>
                        </span>
                    </span>
                </span>
            </div>
        {{ end }}
    </fieldset>
    <noscript>
        <button type="submit"
                class="btn btn--primary btn--thick margin-top-sm--2 margin-top-md--2 js-submit-button">Filter
        </button>
    </noscript>
</form>

<form id="filterForm" method="get" class="js-auto-submit__form">
    <input type="hidden" name="q" value="{{ $query }}"/>
    <input type="hidden" name="sort" value="{{$sort}}"/>
    <fieldset class="ons-fieldset">
        <details id="collapsibleContentType" class="ons-collapsible ons-js-collapsible" data-btn-close="Hide this" data-open="true">
            <summary class="ons-collapsible__heading ons-js-collapsible-heading">
                <h2 class="ons-collapsible__title">
                    <legend class="ons-fieldset__legend">
                        {{ localise "ContentType" $lang 1 }}
                    </legend>
                </h2>
                <span class="ons-collapsible__icon">
                    {{ template "icons/chevron-right" }}
                </span>
            </summary>
            <div id="collapsible-content" class="ons-collapsible__content ons-js-collapsible-content">
                <a href="/search{{ if .Data.Query }}?q={{ .Data.Query}}{{end}}" id="clear-search" class="float-right font-size--18">{{ localise "ClearAll" $lang 1 }}</a>
                <p class="ons-checkboxes__label">Show only:</p>
                {{ range $index, $topFilter := $filters}}
                    <div class="ons-checkboxes__items">
                        <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
                            <span class="ons-checkbox ons-checkbox--no-border content-type-filter">
                                <input type="checkbox" id="group-{{ $index }}"
                                    class="ons-checkbox__input ons-js-checkbox"
                                    value="{{ print $topFilter.FilterKey }}" categoryChildren="{{ print $topFilter.FilterKey }}" aria-controls="group-{{ $index }}-other-wrap"
                                    aria-haspopup="true"
                                    data-gtm-label="{{ $topFilter.LocaliseKeyName }}"
                                    {{ if $topFilter.IsChecked }}
                                        checked
                                    {{ end }}
                                    {{ if eq $topFilter.NumberOfResults 0 }} disabled aria-disabled="true" {{ end }}
                                >
                                <label class="ons-checkbox__label" for="group-{{ $index }}" id="group-{{ $index }}-label">
                                    {{ localise $topFilter.LocaliseKeyName $lang 4 }} ({{ $topFilter.NumberOfResults }})
                                </label>
                                <span class="ons-checkbox__other" id="group-{{ $index }}-other-wrap">
                                    <fieldset class="ons-fieldset ons-js-other-fieldset">
                                        {{ range $index, $childFilter := $topFilter.Types }}
                                            {{ $id := index $childFilter.FilterKey 0 }}
                                            <div class="ons-checkboxes__items">
                                                <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
                                                    <span class="ons-checkbox ons-checkbox--no-border child-filter">
                                                        <input id="{{ $id }}"
                                                            class="ons-checkbox__input ons-js-checkbox"
                                                            type="checkbox" name="filter"
                                                            {{ if $childFilter.IsChecked }}checked{{ end }}
                                                            data-gtm-label="{{ $childFilter.LocaliseKeyName }}"
                                                            value="{{ $id }}"
                                                            {{ if eq $childFilter.NumberOfResults 0 }} disabled aria-disabled="true" {{ end }}
                                                        />
                                                        <label class="ons-checkbox__label" for="{{ $id }}"
                                                            id="{{ $id }}-label">
                                                            {{ localise $childFilter.LocaliseKeyName $lang 4 }} ({{ $childFilter.NumberOfResults }})
                                                        </label>
                                                    </span>
                                                </span>
                                            </div>
                                        {{ end }}
                                    </fieldset>
                                </span>
                            </span>
                        </span>
                    </div>
                {{ end }}
            </div>
        </details>
    </fieldset>
    <noscript>
        <button type="submit"
                class="btn btn--primary btn--thick margin-top-sm--2 margin-top-md--2 js-submit-button">Filter
        </button>
    </noscript>
</form>

<div class="search__filter__mobile-filter-toggle hide">
    <button type="button" class="ons-btn" aria-controls="search-filter">
        <span class="ons-btn__inner">Show results</span>
    </button>
</div>
