{{ $lang := .Language }}

<ul class="ons-section-nav__list d-flex ml-1">
    <li class="ons-section-nav__item {{ if eq .URI "/datalist" }} ons-section-nav__item--active {{ end }}">
      <a class="ons-section-nav__link" href="datalist" aria-current="page" aria-label="{{ localise "DataResults" $lang 4 }}">{{ localise "Data" $lang 4 }}</a>
    </li>
    <li class="ons-section-nav__item ml-1 {{ if eq .URI "/publications" }} ons-section-nav__item--active {{ end }}">
      <a class="ons-section-nav__link" href="publications" aria-label="{{ localise "PublicationsSearchResults" $lang 1 }} ">{{ localise "Publications" $lang 1 }}</a>
    </li>
  </ul>
  