{{ $lang := .Language }}
{{ $currentPage := .Data.Pagination.CurrentPage }}
{{ $itemsPerPage := .Data.Pagination.Limit }}
{{ $totalSearchPosition := multiply (subtract $currentPage 1) $itemsPerPage }}
{{ $response := .Data.Response }}

<div id="results">
    <div id="results-loading" class="ons-panel ons-panel--info ons-panel--no-title hide">
        <span class="ons-u-vh">{{ localise "ImportantInformation" $lang 1 }}</span>
        <div class="ons-panel__body">
        <p data-error-message="{{ localise "ResultsFailedToLoad" $lang 1 }}">
            {{ localise "LoadingResults" $lang 1 }}
        </p>
        </div>
    </div>
    <div id="results-zero" class="hide">
        <h3>{{ localise "NoResultsHeader" $lang 1 }}</h3>
        <p>{{ localise "NoResultsSelectAnother" $lang 1 }} {{ localise "Or" $lang 1 }} <a href="?{{ if .Data.Query }}q={{ .Data.Query}}{{end}}" id="clear-search-zero">{{ localise "ClearAllFilters" $lang 1 }}</a>.</p>
        <p>{{ localise "NoResultsBody" $lang 1 | safeHTML}}</p>
    </div>
    <ul class="ons-document-list">
    {{ range $i, $item := $response.Items }}
        {{ $currentPosition := add $i 1 }}
        <li class="ons-document-list__item">
            <div class="ons-document-list__item-content">
            <div class="ons-document-list__item-header">
                <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                <a href="{{ .URI }}"
                    data-gtm-search-result-title="{{ .Description.Title }}"
                    data-gtm-search-result-page="{{ $currentPage }}"
                    data-gtm-search-result-position="{{ add $totalSearchPosition $currentPosition }}"
                    data-gtm-search-result-url="{{ .URI }}"
                    data-gtm-search-result-release-date="{{ dateFormatYYYYMMDDNoSlashes .Description.ReleaseDate }}"
                >
                    {{ .Description.Title | safeHTML }}
                    {{ if .Description.Edition }}:{{ end }}
                    {{ .Description.Edition | safeHTML }}
                </a>
                </h2>
                <ul class="ons-document-list__item-metadata ons-u-mb-xs">
                <li class="ons-document-list__item-attribute">
                    <span class="ons-u-fw-b">{{ localise "ReleasedOn" $lang 1 }} </span>
                    <time datetime="{{ dateFormatYYYYMMDDHyphenated .Description.ReleaseDate }}">{{ dateFormat .Description.ReleaseDate }}</time>
                </li>
                {{ if .IsLatestRelease }}
                    <li class="ons-document-list__item-attribute">
                        <span class="ons-u-fw-b">{{ localise "LatestRelease" $lang 1 }}</span>
                    </li>
                {{ end }}
                </ul>
            </div>
            </div>
        </li>
        {{ end }}
    </ul>
</div>