{{if .RSSLink}}
<div>
    <ul class="ons-list ons-list--bare ons-list--icons ons-list--inline@m ons-u-flex-ai-b ons-list--social">
        <li class="ons-list__item">
            <span class="ons-list__prefix ons-u-mr-xxs" aria-hidden="true">
                <img class="ons-svg-icon ons-u-d-b"
                    src="https://cdn.ons.gov.uk/assets/images/icon-library/rss/rss-feed_small.svg" alt={{
                    localise "SubscriptionLinkRSSIcon" .Language 1 }}>
            </span>
            <a href="{{.RSSLink}}" class="ons-list__link ons-u-td-no ons-u-mr-no">
                {{- localise "SubscriptionLinkRSS" .Language 1 -}}
            </a>
        </li>
    </ul>
</div>
{{end}}
