{{ $pagination := .Data.Pagination }}
{{ $showLinkToFirst := gt (index $pagination.PagesToDisplay 0).PageNumber 1}}
{{ $lastIndexOfPagesToDisplay := subtract (len $pagination.PagesToDisplay) 1 }}
{{ $showLinkToLast := ne (index $pagination.PagesToDisplay $lastIndexOfPagesToDisplay).PageNumber $pagination.TotalPages}}
<form id="js-pagination-container" class="js-auto-submit__form">
    {{ if ne .Data.Response.Count 0 }}
        <nav class="ons-pagination " arial-label="Pagination (Page {{$pagination.CurrentPage}} of {{$pagination.TotalPages}})">
            <div class="ons-pagination__position ons-u-mb-s">Page {{$pagination.CurrentPage}} of {{$pagination.TotalPages}}</div>
            <ul class="ons-pagination__items">
                {{ $prevURL := "" }}
                {{ $nextURL := "" }}
                {{ range $pagination.PagesToDisplay }}
                    {{ if eq .PageNumber (subtract $pagination.CurrentPage 1 ) }}{{ $prevURL = .URL }}{{end}}
                    {{ if eq .PageNumber (add $pagination.CurrentPage 1 ) }}{{ $nextURL = .URL }}{{end}}
                {{ end }}

                {{ if gt  $pagination.CurrentPage 1 }}
                    <li class="ons-pagination__item ons-pagination__item--previous">
                        <a href={{ $prevURL }} class="ons-pagination__link" rel="prev" aria-label="Go to the previous page (Page {{subtract $pagination.CurrentPage 1}})" data-target-page={{subtract $pagination.CurrentPage 1}}>Previous</a>
                    </li>
                {{end}}

                {{if $showLinkToFirst}}
                    <li class="ons-pagination__item" data-target-page={{$pagination.CurrentPage}}>
                        <a href="{{(index $pagination.FirstAndLastPages 0).URL}}" class="ons-pagination__link" aria-label="Go to the first page (Page 1)"  data-target-page={{1}}>1</a>
                    </li>
                    <li class="ons-pagination__item ons-pageination__item--gap">&hellip;</li>
                {{end}}

                {{ range $pagination.PagesToDisplay }}
                    {{ if eq .PageNumber $pagination.CurrentPage }}
                        <li class="ons-pagination__item ons-pagination__item--current">
                            <a href={{ .URL}} class="ons-pagination__link" aria-current="true" aria-label="Current page (Page {{$pagination.CurrentPage}} of {{$pagination.TotalPages}})" data-target-page={{$pagination.CurrentPage}}>{{ .PageNumber}}</a>
                        </li>
                    {{ else }}
                        <li class="ons-pagination__item">
                            <a href={{ .URL}} class="ons-pagination__link" aria-label="Page {{ .PageNumber}} of {{$pagination.TotalPages}}" data-target-page={{ .PageNumber}}>{{ .PageNumber}}</a>
                        </li>
                    {{ end }}
                {{ end }}

                {{if $showLinkToLast}}
                    <li class="ons-pagination__item ons-pageination__item--gap">&hellip;</li>
                    <li class="ons-pagination__item">
                        <a href="{{(index $pagination.FirstAndLastPages 1).URL}}" class="ons-pagination__link" aria-label="Go to the last page (Page {{$pagination.TotalPages}})" data-target-page={{$pagination.TotalPages}}>{{$pagination.TotalPages}}</a>
                    </li>
                {{end}}

                {{ if lt $pagination.CurrentPage $pagination.TotalPages }}
                    <li class="ons-pagination__item ons-pagination__item--next">
                        <a href={{ $nextURL }} class="ons-pagination__link" rel="next" aria-label="Go to the next page (Page {{ add $pagination.CurrentPage 1 }})" data-target-page={{ add $pagination.CurrentPage 1 }}>Next</a>
                    </li>
                {{ end }}

            </ul>
        </nav>
    {{end}}
</form>
