{{ $lang := .Language }}

<div class="ons-grid ons-grid--flex@m ons-u-pb-s">
  <div class="ons-grid__col ons-u-wa--">
    <div class="ons-field--inline">
      <label
        class="ons-label"
        for="sort"
      >
        {{- localise "SortByLabel" .Language 1 -}}
      </label>
      <select
        id="sort"
        name="sort"
        class="ons-input ons-input--select ons-u-wa--@xxs ons-u-mr-s ons-input--sort-select"
      >
        {{ $sortQuery := .Data.Sort.Query }}
        {{ range $sort := .Data.Sort.Options }}
            <option class="sort__option"
                    value={{ .Query}} 
                    {{ if eq .Query $sortQuery }}selected{{end}}>
                {{ localise .LocaliseKeyName $lang 1 }}
            </option>
        {{ end }}
      </select>
    </div>
  </div>
</div>
