{{ $lang := .Language }}
{{ $query := .Data.Query }}
{{ $filter := .Data.Filter }}

<input type="hidden" name="q" value="{{ $query }}">
{{ range $theFilter := .Data.Filter }}
    <input type="hidden" name="filter" value="{{ $theFilter }}">
{{end}}

<div class="ons-grid ons-grid--flex@m ons-u-pb-s">
  <div class="ons-grid__col ons-u-wa--">
    <div class="ons-field--inline">
      <label
        class="ons-label"
        for="select-calendar-item-order"
      >
        {{- localise "SortByLabel" .Language 1 -}}
      </label>
      <select
        id="select-calendar-item-order"
        name="sort"
        class="ons-input ons-input--select ons-u-wa--@xxs ons-u-mr-s"
      >
        {{ $sortQuery := .Data.Sort.Query }}
        {{ range $sort := .Data.Sort.Options }}
            <option class="sort__option"
                    value={{ .Query}} 
                    {{ if eq .Query $sortQuery }}selected{{end}}>
                {{ localise .LocaliseKeyName $lang 1 }}
            </option>
        {{ end }}
      </select>
    </div>
  </div>
</div>
