{{ $lang := .Language }}
<div aria-live="polite">
    <span class="search__summary__count">{{ .Data.Response.Count}}
        {{ if and (.Data.Filter) (not .Data.Response.Suggestions) }}
            {{ $length := len .Data.Sort.LocaliseFilterKeys }}
            {{ range $i, $LocaliseFilterKey := .Data.Sort.LocaliseFilterKeys }}
                <span class="lowercase">
                    {{ localise $LocaliseFilterKey $lang 4 }}{{ if lt $i (subtract $length 2) }}, {{end}}
                    {{ if eq $i (subtract $length 2) }} {{ localise "And" $lang 1 }} {{end}}
                </span>
            {{ end }}
        {{else}} {{ localise "Results" $lang 1 }} {{end}} 
        {{ localise "For" $lang 1 }}
    </span>
    <span class="search__summary__query">{{ .Data.Query}}</span>
    {{ $len := len .Data.Response.AdditionalSuggestions}}
    {{ $numberResults := len .Data.Response.Items}}
    {{ if .Data.Response.Suggestions}}
        <span class="search__summary__suggestion">
            {{ localise "DidYouMean" $lang 1 }} <a class="underline-link"
                            href="/search?q={{ index .Data.Response.Suggestions 0 }}">{{ index .Data.Response.Suggestions 0 }}</a>?
        </span>
    {{/* if additional suggestions and no results */}}
    {{ else if (and (gt $len 0) (le $numberResults 0) ) }}
        <span class="search__summary__suggestion">
            {{ localise "Try" $lang 1 }}
            {{ range $i, $suggestion := .Data.Response.AdditionalSuggestions}}
                <a class="underline-link" href="/search?q={{ $suggestion }}">{{ $suggestion }}</a>
                {{ if notLastItem $len $i }}
                    {{ localise "Or" $lang 1 }}
                {{ end }}
            {{ end }}
        </span>
    {{ end }}
</div>

