{{ $lang := .Language }}
<div aria-live="polite">
    <h1 class="ons-u-fs-xxxl">{{ localise .Title.LocaliseKeyName $lang 1}}{{ if .Data.Query }} {{ localise "For" $lang 1 }} {{ .Data.Query}}{{ end }}</h1>
    {{ $len := len .Data.Response.AdditionalSuggestions}}
    {{ $numberResults := len .Data.Response.Items}}
    {{ if .Data.Response.Suggestions}}
        <span class="search__summary__suggestion">
            {{ localise "DidYouMean" $lang 1 }} <a class="underline-link"
                            href="?q={{ index .Data.Response.Suggestions 0 }}">{{ index .Data.Response.Suggestions 0 }}</a>?
        </span>
    {{/* if additional suggestions and no results */}}
    {{ else if (and (gt $len 0) (le $numberResults 0) ) }}
        <span class="search__summary__suggestion">
            {{ localise "Try" $lang 1 }}
            {{ range $i, $suggestion := .Data.Response.AdditionalSuggestions}}
                <a class="underline-link" href="?q={{ $suggestion }}">{{ $suggestion }}</a>
                {{ if notLastItem $len $i }}
                    {{ localise "Or" $lang 1 }}
                {{ end }}
            {{ end }}
        </span>
    {{ else if (le $numberResults 0) }}
        <span class="ons-u-fs-l search__summary__count font-size--30">0 {{ localise "Results" $lang 4}}</span>
    {{ end }}
</div>

