{{ $lang := .Language }}
<div class="ons-container search__container">
  <div class="ons-grid">

    <div class="ons-grid__col ons-col-12@m">
        <section class="search__summary" role="contentinfo">
            <div class="ons-u-fs-m ons-u-mt-s ons-u-pb-xxs release__document-type">{{ localise "PreviousReleases" $lang 1 }}</div>
            <h1 class="ons-u-fs-xxxl">{{ .Metadata.Title }} {{ localise "StatisticalBulletin" $lang 4 }}</h1>
            <p> {{ .Metadata.Description }}</p>
        </section>
      </div>

    <div class="ons-grid__col ons-col-12@m">
        <section role="contentinfo" aria-label="{{ localise "SearchResults" $lang  1 }}">
          <div class="search__filter__mobile-filter-toggle hide">
              <button id="filter-results" type="button" class="ons-btn ons-btn--secondary" aria-controls="search-filter">
                <span class="ons-btn__inner">{{ localise "FilterResults" $lang 4 }}</span>
              </button>
          </div>
          <div class="search__results">
            {{ template "partials/list" . }}
          </div>
          <div class="search__pagination">
            {{ template "partials/search-pagination" . }}
          </div>
        </section>
      </div>

  </div>
</div>
