<div class="ons-container search__container">
  <div class="ons-grid">
    <div class="ons-grid__col ons-col-12@m">
      {{ if .Error.ErrorItems }}
        <div class="ons-u-mb-l">
          {{ template "partials/error-summary" .Error }}
        </div>
      {{ end }}
        <section
          class="search__summary"
          role="contentinfo"
        >
          {{ template "partials/type-label" . }}
          {{ template "partials/related-list-pages-title" . }}
          <p>{{ .Metadata.Description }}</p>
        </section>

        <section>
          <div class="search__results">
            {{ template "partials/list" . }}
          </div>
          <div class="search__pagination">
            {{ if and (gt .Count 0) (not .Error.ErrorItems) }}
              {{ template "partials/search-pagination" . }}
            {{ end }}
          </div>
        </section>
    </div>
  </div>
</div>
