{{ $lang := .Language }}
{{ $firstResult := index .Data.Response.Items 0}}
{{ $firstResultTypeLocalKey := $firstResult.Type.LocaliseKeyName }}
<div class="ons-container search__container">
  <div class="ons-grid">

    <div class="ons-grid__col ons-col-12@m">
        <section class="search__summary" role="contentinfo">
            {{ template "partials/type-label" . }}
            <h1 class="ons-u-fs-xxxl">{{ .Title.Title }}  {{ localise $firstResultTypeLocalKey $lang 4 }}</h1>
            <p> {{ .Metadata.Description }}</p>
        </section>
      </div>

    <div class="ons-grid__col ons-col-12@m">
        <section>
          <div class="search__results">
            {{ template "partials/list" . }}
          </div>
          <div class="search__pagination">
            {{ template "partials/search-pagination" . }}
          </div>
        </section>
      </div>

  </div>
</div>
