{{ $filters := .Data.Filters }}
{{ $lang := .Language }}

{{ if $filters }}
    <details class="ons-collapsible ons-js-collapsible ons-collapsible--accordion" data-group="accordion" data-btn-close="Hide this" data-open="true">
        <summary class="ons-collapsible__heading ons-js-collapsible-heading">
            <h2 class="ons-collapsible__title">
                <legend class="block">
                    {{ localise "ContentType" $lang 1 }}
                </legend>
            </h2>
            <span class="ons-collapsible__icon">
                {{ template "icons/chevron-right" }}
            </span>
        </summary>

        <fieldset class="ons-collapsible__content ons-js-details-content ons-u-mb-s">
            <legend class="block hidden">
                    {{ localise "ContentType" $lang 1 }}
            </legend>
                {{ range $index, $topFilter := $filters}}
                    <div class="ons-checkboxes__items">
                        <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
                            <span class="ons-checkbox ons-checkbox--no-border content-type-filter">
                                <input type="checkbox" id="group-{{ $index }}"
                                    class="ons-checkbox__input ons-js-checkbox"
                                    value="{{ print $topFilter.FilterKey }}" categoryChildren="{{ print $topFilter.FilterKey }}" aria-controls="group-{{ $index }}-other-wrap"
                                    data-gtm-label="{{ $topFilter.LocaliseKeyName }}"
                                    {{ if $topFilter.IsChecked }}
                                        checked
                                    {{ end }}
                                >
                                <label class="ons-checkbox__label" for="group-{{ $index }}" id="group-{{ $index }}-label">
                                    {{ localise $topFilter.LocaliseKeyName $lang 4 }} ({{ $topFilter.NumberOfResults }})
                                </label>
                                <span class="ons-checkbox__other" id="group-{{ $index }}-other-wrap">
                                    <fieldset class="ons-fieldset ons-js-other-fieldset">
                                        <legend class="ons-u-vh">{{ localise "Select" $lang 1 }}{{ localise $topFilter.LocaliseKeyName $lang 4 }}</legend>
                                            {{ range $index, $childFilter := $topFilter.Types }}
                                                {{ $id := index $childFilter.FilterKey 0 }}
                                                <div class="ons-checkboxes__items">
                                                    <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
                                                        <span class="ons-checkbox ons-checkbox--no-border child-filter">
                                                            <input id="{{ $id }}"
                                                                class="ons-checkbox__input ons-js-checkbox"
                                                                type="checkbox" name="filter"
                                                                {{ if $childFilter.IsChecked }}checked{{ end }}
                                                                data-gtm-label="{{ $childFilter.LocaliseKeyName }}"
                                                                value="{{ $id }}"
                                                            />
                                                            <label class="ons-checkbox__label" for="{{ $id }}"
                                                                id="{{ $id }}-label">
                                                                {{ localise $childFilter.LocaliseKeyName $lang 4 }} ({{ $childFilter.NumberOfResults }})
                                                            </label>
                                                        </span>
                                                    </span>
                                                </div>
                                            {{ end }}
                                    </fieldset>
                                </span>
                            </span>
                        </span>
                    </div>
                {{ end }}
        </fieldset>
    </details>
{{ end }}
