{{ $lang := .Language }}

<details
    id="dateFilters"
    class="ons-collapsible ons-js-collapsible ons-collapsible--accordion"
    data-group="accordion"
    data-btn-close="Hide this"
    data-open="true"
>
    <summary class="ons-collapsible__heading ons-js-collapsible-heading">
        <h2 class="ons-collapsible__title">
            <legend class="block">
                {{ localise "Dates" $lang 1 }}
            </legend>
        </h2>
        <span class="ons-collapsible__icon">
            {{ template "icons/chevron-right" }}
        </span>
    </summary>
    <div class="ons-u-mb-s">
        {{ template "partials/fields/fieldset-date" .Data.AfterDate }}
        {{ template "partials/fields/fieldset-date" .Data.BeforeDate }}
    </div>
</details>
