{{ $lang := .Language }}

<!-- Hide date input in the timeseries so it can be shown programmatically when needed -->
<details id="dateFilters"
    class="ons-collapsible ons-js-collapsible ons-collapsible--accordion"
    data-group="accordion" data-btn-close="Hide this" data-open="true">
    <summary class="ons-collapsible__heading ons-js-collapsible-heading">
        <h2 class="ons-collapsible__title">
            <legend class="block">
                {{ localise "Dates" $lang 1 }}
            </legend>
        </h2>
        <span class="ons-collapsible__icon">
            {{ template "icons/chevron-right" }}
        </span>
    </summary>
    <div class="ons-collapsible__content ons-js-collapsible-content ons-u-mb-s">
        {{ template "partials/inputs/input-date" .AfterDate }}
        {{ template "partials/inputs/input-date" .BeforeDate }}
    </div>
</details>
